.values {
  padding-top: 32px;
}

.values-list {
  width: 312px;
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 8px;
}

.values-card-container {
  width: 152px;
  padding: 32px 16px;
  height: 198px;
  background: $neutral-02-100;

  h3 {
    margin-top: 16px;
    font-family: v$font-family;
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    color: $neutral-07-100;
  }

  p {
    width: 70px;
    margin-top: 8px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: $neutral-04-100;
  }
}

.values-list li:first-child p {
  width: 80px;
}

.values-list li:last-child p {
  width: 100px;
}

.values-svgs {
  fill: none;
  stroke: $neutral-07-100;
}
